$background-color-primary: #181818;
$background-color-secondary: #000000;
$background-color-tertiary: #212121;
$background-color-hover: #272727;
$color-link: white;
$background-color-modal: black;
$color-shadow-hover: #CDCDCD;
$color-shadow: #E5E5E5;
$color-primary: #2B2B2B;
$color-secondary: #fdb950;
$background-color-elt: #1D1D1D;
$background-color-hover: #282828;
$color-scroll: #aaaaaa;
$color-btn-cancel: #dc3545;
